* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "kumbh Sans", "sans serif";
    font-size: 18px;
    background-color: $darkCyan;
}

section {
    overflow: hidden;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    width: 325px;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;

    &--header {
        background-image: url(../images/bg-pattern-card.svg);
        height: 140px;
    }

    &--body {
        border-bottom: 1px solid $darkGray;
        
        .img--holder {
            background-image: url(../images/image-victor.jpg);
            background-size: contain;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            border: 6px solid white;
            margin: -53px auto 24px;
        }
       
        h3 {
            font-size: 18px;
            font-weight: 700;
            padding-bottom: 14px;
            color: $veryDarkDesaturatedBlue;

            span {
                font-weight: 400;
            }
        }

        h4 {
            font-size: 16px;
            font-weight: 400;
            padding-bottom: 24px;
        }
    }

    &--footer {
        display: flex;
        padding: 24px 16px;
        align-items: center;
        justify-content: space-around;

        &__stats {
            min-width: 95px;
            
            h4 {
                padding-bottom: 11px;
            }

            h5 {
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}

.circle {
    
    &-1, &-2 {
        position: absolute;
        width: 500px;
        height: auto;
    }

    &-1 {
        top: -250px;
        left: -300px;
    }

    &-2 {
        bottom: -220px;
        right: -290px;
    }
}

@keyframes circles{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

@media (min-width: 1080px) {
    .card {
        width: 350px; 
    }

    .circle {
    
        &-1, &-2 {
            position: absolute;
            width: 800px;
            height: auto;
            animation: 2s circles forwards;
        }
    
        &-1 {
            top: -250px;
            left: -100px;
            transform: translate(-75px, -25px);
        }
    
        &-2 {
            bottom: -330px;
            right: -100px;
            transform: translate(75px, 25px);

        }
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.1);
    padding: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

